<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="PersonelTracking"
			 providerName="Microsoft.EntityFrameworkCore.SqlServer"
			 connectionString="Server=berkalpdiremPC\SQLEXPRESS;Database=PersonelTracking;Trusted_Connection=True;Encrypt=false"/>
	</connectionStrings>
</configuration>